body{
    background-color: rgb(64, 107, 109);
}
tr:hover{
    background-color: blueviolet;
}

/*estilo por etiquetas*/

#nombre{
    border: 1px seagreen;
    border-radius: 3px;
    background-color: aqua;
}
